@import url(blocks/reset.css);

@import url(blocks/mainpage.css);
@import url(blocks/video.css);
@import url(blocks/swiper.css);
@import url(blocks/blok_stick.css);
@import url(blocks/cases.css);
@import url(blocks/blog.css);
@import url(blocks/company.css);
@import url(blocks/servises.css);
@import url(blocks/faq.css);
@import url(blocks/couch.css);
@import url(blocks/form.css);
@import url(blocks/footer.css);
@import url(blocks/cookis.css);
@import url(blocks/adaptive.css);

.arrow-white{
  width: 100%;
  height: 100%;
  fill: #fff;
  z-index: 5;
}
.sprite__arrow {
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  width: 16px;
  height: 20px;
  
}
.arrow-up{
  position: absolute;
  transform: translate(-50%, 0);
}
.arrow-down{
  position: absolute;
  transform: translate(-130%, 80%);
}
.arrow-animate:hover .arrow-up{
  transform: translate(100%,-100%);
  transition: all 0.5s ease;
}
.arrow-animate:hover .arrow-down{
  transform: translate(-50%, 0);
  transition: all 0.5s ease;
}
.arrow__blak {
  width: 100%;
  height: 100%;
}
.social__item:hover .social__item-wrap{
  background-color: #e8e4e4;
}





