.cookies {
    position: fixed;
    display: flex;
    width: 491px;
    height: 86px;
    top: 810px;
    right: 150px;
    background: #171717;
    border-radius: 58px;
    padding: 18px 38px;
    z-index: 20;
}
.cookies__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    width: 249px;
}
.cookies__title span{
    font-weight: 700;
    text-transform: uppercase;
}
.cookies__btn {
    background: #323232;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 40px;
    margin-left: 41px;
}